---
title: Contact
layout: layout.njk
---

<h2>Contact the Assembly</h2>
<p>Email us directly at <a href="mailto:{{ site.email }}">{{ site.email }}</a> or use the form below.</p>

<p class="small note"><a href="mailto:{{ site.email }}">Write us directly</a>.</p>
